
// Common - Base
//------------------------------------------------------------------------------

html {
  font-size: 62.5%;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

body {
  color: $body-text-color;
  font-family: $font-arial;
  font-size: $font-size;
  line-height: $font-line-height;
  background-color: #eae2d7;
  background-image: linear-gradient(to bottom, #d2c0a8, #eae2d7 150px);
}

a {
  color: $color-brand;
  text-decoration: none;

  &:hover {
    color: $color-brand;
    text-decoration: underline;
  }
}
