
// Common - Base
//------------------------------------------------------------------------------

html {
  box-sizing: border-box;
  font-size: 62.5%;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

body {
  background-color: $body-bg-color;
  background-image: linear-gradient(to bottom, $body-bg-shade, $body-bg-color 150px);
  color: $body-text-color;
  font-family: $font-arial;
  font-size: $font-size;
  line-height: $font-line-height;
}

a {
  color: $color-brand;
  text-decoration: none;

  &:hover {
    color: $color-brand;
    text-decoration: underline;
  }
}
