/* Footer */
.footer {
  background-color: $footer-bg-color;
  border-top: 4px solid #bfb1a0;
  clear: both;
  font-size: 12px;
  height: 90px;
  line-height: 21px;
  padding: 32px 0;
}

.footer-copyright {
  color: $footer-copy-color;
  float: left;
  margin: 0 0 0 20px;
}

.footer-links {
  @extend %no-bullets;
  border-right: 1px dashed $footer-copy-color;
  float: right;
  margin: 0 20px 0 0;

  li {
    border-left: 1px dashed $footer-copy-color;
    float: left;
    height: 21px;
  }

  a {
    color: $footer-copy-color;
    display: block;
    //Make clickable area bigger (better UX)
    margin: -10px 0;
    padding: 10px 28px;
  }
}
