/* Header */
.header {
  margin-bottom: 40px;
}

.header-logo {
  @include sprite($-logo);
  float: left;
  margin: 41px 20px;

  h1 {
    @extend .ir;
    width: 0;
  }
}


/* Navigation */
.header-nav {
  clear: both;

  ul {
    @extend %css3pie;
    @extend %no-bullets;
    @extend %brand-border-radius;
    box-shadow: 2px 2px rgba(0,0,0,.15);
    margin: 0;
    overflow: hidden;
    width: 100%;
  }
}

.header-banner {
  @extend .ir;
  @include sprite($-adv-banner);
  float: left;
  margin: 36px 0 36px 142px;
}

.header-nav-link {
  @extend %brand-gradient;
  @extend %brand-gradient-text;
  -webkit-font-smoothing: antialiased;
  float: left;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 1/ 6 * 100%;

  a {
    border-left:1px dashed $header-nav-separator-color;
    color: #fff;
    display: block;
    margin-left: -1px;
    padding: 20px 0;

    &:hover,
    &:focus {
      background-color: rgba(#000, .2);
      text-decoration: none;
    }
  }
}

.header-nav-link--active {
  background-image: linear-gradient(to top, #2a1f0f 50%, #53432c);
}

.header-search {
  float: right;
  font-size: 12px;
  margin-top: 54px;
}

.header-search-input {
  @extend %appearance-none;
  @extend %brand-border-radius;
  border: 0;
  box-shadow: inset 1px 1px rgba(#000, .23);
  color: $body-text-color;
  float: left;
  line-height: 19px;
  margin-right: 10px;
  padding: 7px 11px 3px;
  width: 215px;
}

.header-search-submit {
  @extend %appearance-none;
  @extend %brand-gradient;
  @extend %brand-gradient-text;
  @extend %brand-border-radius;
  border: 0;
  box-shadow: 1px 1px rgba(#000, .15);
  float: left;
  font-size: 11px;
  line-height: 19px;
  padding: 6px 14px 4px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    @extend %brand-gradient-hover;
  }
}
