
// Common - Layout
//------------------------------------------------------------------------------

/* Container */
.container {
  position: relative;
  width: $container-width + 2 * $container-padding;
  padding: 0 $container-padding;
  margin: 0 auto;
}


/* Content */
.content {
  width: 66.66%;
  float: left;
}



/* Sections */
.section-header {
  text-transform: uppercase;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: $color-brand;
  margin: 0;
  padding: 15px 20px;
  border-bottom: 1px dashed $section-separator-border-color;
}

.section-header--red {
  @extend %brand-gradient;
  @extend %brand-gradient-text;
  color: #fff;
  font-size: 12px;
  border-bottom: 2px solid #e5e5e5;
}

.section-main {
  font-size: 12px;
  margin-bottom: 40px;
}

.section-column {
  border-left:1px dashed $section-separator-border-color;

  .section-header {
    border-left:1px dashed $section-separator-border-color;
    margin-left: -1px;
  }

  &:first-child {
    border-left: 0;
  }
}
