.section-gallery {
  position: relative;
}

.gallery-container {
  @extend %clearfix;
  @extend %brand-border-radius;
  background-color: #c9bba9;
  margin: 0 20px;
  overflow: hidden;
  padding: 10px 29px;
}

.gallery-items {
  @extend %no-bullets;
  margin: 0;

  li {
    float: left;
  }
}

.gallery-thumb {
   @extend %brand-border-radius;
  display: block;
  height: 130px;
  margin: 10px;
  overflow: hidden;
  width: 160px;
}


.gallery-nav-btn {
  @extend %brand-gradient;
  @extend %brand-border-radius;
  @extend %no-bullets;
  @extend .ir;
  margin-top: -27px;
  position: absolute;
  top: 50%;

  &:hover a,
  &:focus a {
    background-color: rgba(#000, .2);
  }

  a {
    display: block;
    height: 55px;
    width: 40px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      @include sprite($-btn-gallery-arrow-left);
      margin: -5px -3px;
      top: 50%;
      left: 50%;
    }
  }
}

.gallery-nav-btn--prev {
  left: 0;
}

.gallery-nav-btn--next {
  right: 0;

  a:before {
    @include sprite($-btn-gallery-arrow-right);
  }
}
