.section-intro {
  margin: -8px 0 -12px;
  min-height: 415px;
  padding: 17px 20px;
  position: relative;
}

.intro-header {
  @extend .ir;
  background:transparent url('../img/txt-intro-header.jpg') left top no-repeat;
  height: 94px;
  width: 300px;
}

.intro-text {
  color: $intro-text-color;
  line-height: 18px;
  padding-right: 6px;
  width: 50%;

  strong {
    color: $color-brand;
    display: block;
    letter-spacing: .04em;
    padding: 20px 0 5px;
  }
}

.intro-illustration {
  @extend .ir;
  background:transparent url('../img/misc-illustration.jpg') left top no-repeat;
  bottom: 0;
  height: 415px;
  position: absolute;
  right: -82px;
  width: 566px;
  z-index: $zindex-illustration;
}
